@import "config";

.Examples {
  width: 100%;
  height: 100%;

  .Header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;

    svg {
      width: 40px;
      height: 30px;
      padding: 5px;
    }

    .HeaderLeft {
      width: 40px;
      height: 30px;
    }

    .HeaderRight {
      width: calc(100% - 40px);
      height: 30px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      button {
        max-width: 100px;
        height: 30px;
        border: none;
        font-size: 12px;
        line-height: 30px;
        padding-left: 6px;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        &:last-child {
          border: none;
        }

        svg {
          width: 25px;
          height: 30px;
          padding: 0 7px;
        }
      }
    }
  }
  .Nav {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;

    svg {
      width: 40px;
      height: 35px;
      margin: -4px 0;
      padding: 8px;
    }

    svg:first-child {
      margin-top: 0;
    }

    svg:last-child {
      margin-bottom: 0;
    }

    .TopNav {
      position: absolute;
      top: 0;
      height: calc(100% - 70px);
    }

    .BottomNav {
      position: absolute;
      bottom: 0;
      height: 70px;
    }
  }
  .Aside {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 40px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .TopAside {
      width: 100%;
      height: 30px;
      display: flex;
      flex-direction: row;

      svg {
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
      }

      h2 {
        padding: 0 7px;
        font-size: 13px;
        line-height: 30px;
        text-transform: uppercase;
      }

      .TopAsideAction {
        position: absolute;
        right: 0;

        svg {
          padding: 0 7px;
        }
      }
    }

    .BottomAside {
      svg {
        width: 12px;
        height: 12px;
        margin: 4px 3px;
      }

      .BottomAsideFolder {
        width: 100%;
        height: 20px;
        display: flex;
        flex-direction: row;

        svg:first-child {
          margin-left: 7px;
          transform: rotate(90deg);
        }

        span {
          margin-left: 5px;
          font-size: 14px;
          line-height: 22px;
        }
      }

      .BottomAsideFile {
        width: 100%;
        height: 20px;
        display: flex;
        padding-left: 20px;
        flex-direction: row;

        svg:first-child {
          margin-left: 5px;
        }

        span {
          margin-left: 5px;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  .Main {
    position: fixed;
    z-index: 99;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
  }
  .Footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    display: flex;
    flex-direction: row;

    svg {
      width: 20px;
      height: 20px;
      padding: 4px;
      line-height: 20px;
    }
    .FooterLeft {
      position: fixed;
      left: 0;
      max-width: 150px;
      height: 20px;
      padding: 0 5px;
      display: flex;
      flex-direction: row;

      svg {
        padding: 3px;
      }

      h1 {
        font-size: 10px;
        font-weight: 600;
      }
    }
    .FooterRight {
      position: fixed;
      right: 0;
      max-width: calc(100% - 150px);
      padding: 0 5px;
      display: flex;
      flex-direction: row;
    }
  }
}

@import "theme";
@import "screen";
